// GLOBAL STUFF
@import "node_modules/bootstrap/scss/bootstrap.scss"; // background-color: #161618;

.container-fluid {
  padding: 0;
  margin: 0;
}

#map {
  width: 100vw;
  height: 100vh;

  .marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
  }

  #sidebar {
    font-size: 18px;
    cursor: pointer;
    height: 772px;
    width: 300px;
    z-index: 1;
    top: 3%;
    left: 2%;
    background: #ffffff;
    color: #000000;
    text-align: center;

    .sidebar-content {
      margin-top: 20px;

      .sidebar-img {
        .logo-text {
          top: 48px;
          left: 15px;
        }
      }

      .logo {
        height: 120px;
        width: auto;
      }

      .sidebar-nav {
        .list-group {
          .list-group-item {
            cursor: pointer;

            &:hover {
              transition: all 0.5s ease-out;
              background-color: #ECE0C8;
            }
          }

          .active-info {
            background-color: #78BCED;
          }
        }
      }
    }
  }

  #info-box {
    z-index: 1;
    top: 20%;
    left: 82%;

    .card {
      height: 480px;
      width: 400px !important;

      .card-text {
        font-size: 14px;
      }
    }
  }
}
// STATE CLASSES

.info-active {
  display: inline;
}

.info-hidden {
  display: hidden;
}
@media (max-width: 1920px) {
  #info-box {
    left: 77% !important;
  }
}
@media (max-width: 1680px) {
  #info-box {
    left: 73%!important;
  }
}
