// GLOBAL STUFF
@import "node_modules/bootstrap/scss/bootstrap.scss"; // background-color: #161618;

#wrapper {
  #sidebar {
    cursor: pointer;
    height: 772px;
    width: 300px;
    z-index: 1;
    top: 3%;
    left: 2%;
    background: #ffffff;
    color: #000000;
    text-align: center;

    .sidebar-content {
      margin-top: 20px;

      .sidebar-img {
        .logo-text {
          top: 48px;
          left: 15px;
        }
      }

      .logo {
        height: 120px;
        width: auto;
      }

      .sidebar-nav {
        .list-group {
          .list-group-item {
            cursor: pointer;

            &:hover {
              transition: all 0.5s ease-out;
              background-color: #ECE0C8;
            }
          }

          .active-info {
            background-color: #78BCED;
          }
        }
      }
    }
  }

  #map {
    height: 100vh;
  }

  #info-box {
    z-index: 1;
    top: 200px;
    left: 2110px;

    .card {
      height: 570px;
      width: 400px !important;
    }
  }

  // STATE CLASSES
  .active {
    display: inline;
  }
  .hidden {
    display: hidden;
  }
}

// @media (max-width: 1920px) {
//   #info-box {
//     left: 1280px !important;
//   }
// }
// @media (max-width: 1680px) {
//   #info-box {
//     left: 1039px !important;
//   }
// }
