// TODO: Scale sidebar and infobox on diff. resolutions and make a sexy looking for mobile

.container-fluid {
  padding: 0;
  margin: 0;
}

#map {
  width: 100vw;
  height: 100vh;

  .sidebar-toggle {
    transition: all 0.5s ease-out;
    font-size: 18px;
    border-radius: 0 10px 10px 0;
    transform: translate(0%, -50%);
    width: 40px;
    height: 150px;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 299px;
    border: solid black 1px;
    background-color: #ffffff;
  }

  .sidebar-toggle:focus {
    outline: none;
  }

  #sidebar {
    transition: all 0.5s ease-out;
    transform: translate(0%, -50%);
    top: 50%;
    left: 0;
    font-size: 18px;
    cursor: pointer;
    height: 762px;
    width: 300px;
    z-index: 1;
    background: #ffffff;
    color: #000000;
    text-align: center;

    .sidebar-content {
      margin-top: 20px;

      .sidebar-img {
        .logo-text {
          top: 48px;
          left: 15px;
        }
      }

      .logo {
        height: 120px;
        width: auto;
      }

      .sidebar-nav {
        .list-group {
          .list-group-item {
            cursor: pointer;

            &:hover {
              transition: all 0.5s ease-out;
              background-color: #78BCED;
            }

            .info {
              left: 273px;
              position: absolute;
            }
          }

          .active {
            background-color: #78BCED;
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  #sidebar {
    height: 100% !important;
    overflow: overlay;
  }
}
// @media (max-width: 1680px) {
//   #info-box {
//     left: 73%!important;
//   }
// }
